body {
  margin: 0;
  font: 100%/1.5 "Helvetica Neue";
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 200;
}

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  margin-bottom: 0;
}

*:first-child:not(.state-hidden) {
  margin-top: 0 !important;
}

*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nest {
  padding: 2.618033988750235rem;
  background-color: rgba(0,128,128,0.2);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 1px solid rgba(0,128,128,0.75);
}

.nest * {
  margin-top: 1.61803398875rem;
}

.nest .grid-wrapper {
  margin-left: -1.61803398875rem;
  margin-right: -1.61803398875rem;
}

.nest .grid {
  border-spacing: 1.61803398875rem 0;
}

.nest .grid.sub-spacing-full {
  border-spacing: 1.61803398875rem;
}

.nest .nest {
  padding: 1.61803398875rem;
  background-color: rgba(0,128,128,0.2);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 1px solid rgba(0,128,128,0.75);
}

.nest .nest * {
  margin-top: 1rem;
}

.nest .nest .grid-wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
}

.nest .nest .grid {
  border-spacing: 1rem 0;
}

.nest .nest .grid.sub-spacing-full {
  border-spacing: 1rem;
}

.nest .nest .nest {
  padding: 1rem;
  background-color: rgba(0,128,128,0.2);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 1px solid rgba(0,128,128,0.75);
}

.nest .nest .nest * {
  margin-top: .6180339887498547rem;
}

.nest .nest .nest .grid-wrapper {
  margin-left: -.6180339887498547rem;
  margin-right: -.6180339887498547rem;
}

.nest .nest .nest .grid {
  border-spacing: .6180339887498547rem 0;
}

.nest .nest .nest .grid.sub-spacing-full {
  border-spacing: .6180339887498547rem;
}

.nest .nest .nest .nest {
  padding: .6180339887498547rem;
  background-color: rgba(0,128,128,0.2);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 1px solid rgba(0,128,128,0.75);
}

.nest .nest .nest .nest * {
  margin-top: .3819660112500555rem;
}

.nest .nest .nest .nest .grid-wrapper {
  margin-left: -.3819660112500555rem;
  margin-right: -.3819660112500555rem;
}

.nest .nest .nest .nest .grid {
  border-spacing: .3819660112500555rem 0;
}

.nest .nest .nest .nest .grid.sub-spacing-full {
  border-spacing: .3819660112500555rem;
}

.nest .nest .nest .nest .nest {
  padding: .3819660112500555rem;
  background-color: rgba(0,128,128,0.2);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 1px solid rgba(0,128,128,0.75);
}

.nest .nest .nest .nest .nest * {
  margin-top: .2360679774997437rem;
}

.nest .nest .nest .nest .nest .grid-wrapper {
  margin-left: -.2360679774997437rem;
  margin-right: -.2360679774997437rem;
}

.nest .nest .nest .nest .nest .grid {
  border-spacing: .2360679774997437rem 0;
}

.nest .nest .nest .nest .nest .grid.sub-spacing-full {
  border-spacing: .2360679774997437rem;
}

.nest .nest .nest .nest .nest .nest {
  padding: .2360679774997437rem;
  background-color: rgba(0,128,128,0.2);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 1px solid rgba(0,128,128,0.75);
}

.nest .nest .nest .nest .nest .nest * {
  margin-top: .14589803375027752rem;
}

.nest .nest .nest .nest .nest .nest .grid-wrapper {
  margin-left: -.14589803375027752rem;
  margin-right: -.14589803375027752rem;
}

.nest .nest .nest .nest .nest .nest .grid {
  border-spacing: .14589803375027752rem 0;
}

.nest .nest .nest .nest .nest .nest .grid.sub-spacing-full {
  border-spacing: .14589803375027752rem;
}

.nest {
  display: block;
}

.nest.sub-v {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nest.sub-h {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nest.sub-top {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.nest.sub-right {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.nest.sub-bottom {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nest.sub-left {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.grid-wrapper {
  vertical-align: top;
}

.grid-wrapper.sub-no_offset {
  margin: 0 !important;
}

.grid-wrapper.sub-inline {
  display: inline-block;
}

.grid {
  display: table;
  table-layout: fixed;
  vertical-align: top;
  width: 100%;
}

.grid > * {
  display: table-cell;
  vertical-align: inherit;
}

.grid.sub-auto {
  table-layout: auto;
}

.grid.sub-wrap {
  display: block;
}

.grid.sub-wrap > * {
  display: inline-block;
}

.grid.sub-align-middle {
  vertical-align: middle;
}

.grid.sub-collapse {
  width: auto;
}

.grid.sub-full_height {
  height: 100%;
}

@media (max-width: 640px) {
  .grid.sub-break_small > .grid-row > * {
    display: block;
    width: 100%;
  }
}

.grid-rows {
  display: table-row-group;
}

.grid-row {
  display: table-row;
  width: 100%;
}

.grid-row.sub-collapse {
  height: 1px;
}

.grid-row.sub-full_height {
  height: 100%;
}

.grid-row > * {
  display: table-cell;
  vertical-align: inherit;
}

.grid-row-scroll {
  position: relative;
  width: 100%;
  height: 100%;
}

@-moz-document url-prefix()  {
  .grid-row-scroll {
    display: block;
  }
}

.grid-row-scroll-region {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid-column.sub-fill {
  width: 100%;
}

.grid-column.sub-collapse {
  width: 1px;
}

.grid-column.sub-full_height {
  height: 100%;
}

.sub-expand {
  width: 100%;
  height: 100%;
}

.sub-collapse {
  width: 1px;
  height: 1px;
}

.sub-no_spacing {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sub-no_spacing > .nest {
  margin-top: 0 !important;
}

.sub-no_spacing > .grid-wrapper {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sub-no_spacing > .grid-wrapper > .grid {
  margin-top: 0 !important;
  border-spacing: 0 !important;
}

.sub-no_spacing > .grid {
  margin-top: 0 !important;
  border-spacing: 0 !important;
}

.module {
  overflow: hidden;
  border-radius: .3em;
  border: 1px solid rgba(0,128,128,0.75);
}

.module > *:first-child {
  border-top: 0 !important;
}

.module > * {
  border-width: 1px 0 0 !important;
}